<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "Add a new team", new_team_path %></li>
  </ul>
</div>

<div class="block">
  <h3>Teams</h3>
  <ul class="navigation">
    <% @teams.each do |team| -%>
      <li><%= link_to team.name, team_path(team) %></li>
    <% end -%>
  </ul>
</div>

<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>