.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
temp.rb
temp.txt
test_benchmark.txt
.autotest
.DS_Store
config/database.yml
config/config.yml
config/cucumber.yml
db/*.sqlite3
log/*
tmp/*
!tmp/sessions/.gitignore
public/javascripts/cache/*
public/stylesheets/cache/*
public/packages/*
nbproject
.idea
.idea/*.xml
rerun.txt
test/coverage
tags
patches
test_benchmark.txt
*.swp
routes.txt
vendor/bundle/
config/secrets.yml
webrat.log
.rvmrc
config/configuration.yml
db/schema.rb
public/plugin_assets/
config/initializers/session_store.rb
config/setup_load_paths.rb
files/*
