<!DOCTYPE html>
<html>
<head>
  <title>Web App</title>
  <%= stylesheet_link_tag 'themes/red' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Web App</a></h1>
    </div>
    <div id="box">
      <%= yield %>                  
    </div>
    
  </div>
</body>
</html>
